/* Full screen layout */
.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar styling */
.sidebar {
    background-color: #1f2937;
    color: #f3f4f6;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    background: none;
    border: none;
    color: #f3f4f6;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.menu-item:hover {
    background-color: #374151;
}

.section-title {
    color: #9CA3AF;
    margin-top: 20px;
    font-weight: bold;
}

/* Main container */
.admin-profile-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #1f2937;
    background-color: #f3f4f6;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Header styling */
.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.admin-header h1 {
    color:#ea580c;
    font-size: 2rem;
}

.logout-button {
    padding: 10px 20px;
    background-color: #B71C1C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #ea580c;
}

/* Profile details section */
.profile-details {
    color: #1f2937;
}

.profile-details h2 {
    color: #ea580c;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Card container */
.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card styling */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    text-align: center;
    position: relative;
    color:#ea580c;
    transition: box-shadow 0.3s;
}

.card h3 {
    margin-bottom: 10px;
    color: #000000;
    font-size: 1.25rem;
    font-weight: bold;
}

.card p {
    color: #6b7280;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.see-all-button {
    padding: 10px 20px;
    background-color:#ea580c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.see-all-button:hover {
    background-color: #ea580c;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cards-container {
        gap: 10px;
    }

    .card {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .logout-button, .see-all-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .admin-header h1 {
        font-size: 1.5rem;
    }

    .profile-details h2 {
        font-size: 1.25rem;
    }
}
